/* CSS Document */

@font-face {
   font-family: maelstorm;
   src: url(font/maelstromtest.woff);
}

.preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:black;
    z-index:99;
	  width:100%;
	  height:100%;
	  color:#fff;
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s 4s, opacity 4s linear;
}


body {
  height: 100%;
	margin: 0;
  background: black;
  color: white;
}

.wrapper {
	position: absolute;
	max-width: 100%;
  padding: 2% 0 0 0;
}

.wrapper-2 {
  position: absolute;
  max-width: 80%;
  padding: 10% 0 0 0;
}

.fall {
  position: absolute;
  right: 0px;
  top: 3%;
  margin: 0 1% 0 0;
}

.year {
  font-family: 'maelstorm';
  font-weight: 400;
  font-size: 10vw;
  line-height: 80%;
}

.twofourteen {
  position: absolute;
  right: 3%;
  top: 5%;
  font-size: 515vw;
}

.yale-logo {
  position: absolute;
  top: 7%;
  left: 0%;
  width: 20%;
}

.ya {
  margin: 0 0 0 0;
  padding: 6% 5% 0 5%;
}

.le {
  margin: 0 0 0 6.4%;
  padding: 5% 0 0 9.8%;
}

.ar {
  margin: 0 0 0 0;
  padding: 5% 5% 0 5%;
}

.oh {
  margin: 0 0 0 0;
  padding: 5% 5% 0 5%;
}

.school {
  position: absolute;
  top: 15%;
  left: 0px;
  margin: 0 0 0 2%;
  line-height: 135%;
}

.info {
  position: absolute;
  top: 20%;
  left: 0px;
  margin: 35% 0 0 0;
  line-height: 135%;
}

.arrow-1 {
  position: absolute;
  top: 18%;
  left: 3%;
  margin: 23% 0 0 0;
}

.arrow-2 {
  position: absolute;
  top: 25%;
  left: 3%;
  margin: 23% 0 0 0;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 5%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 0 6% 0 0;
}

.lecture-info {
  margin: 2vw;
}

.italic {
  font-family: 'Roboto';
  font-style: italic;
  font-size: 1.5vw;
  line-height: 140%;
}

.footer {
  position: absolute;
  width: 95%;
  opacity: .3;
  padding: 0 0 5% 5%;
}


h1 {
font-family: 'maelstorm';
font-size: 55vw;
margin: 0 0 0 0;
line-height: 62%;
text-transform: uppercase;
}

h2 {
  font-family: 'maelstorm';
  font-weight: 400;
  font-size: 4.5vw;
}

h3 {
  font-family: 'heebo', sans-serif;
  font-weight: 400;
  font-size: 1.75vw;
  text-align: center;
}

h4 {
  font-family: 'heebo', sans-serif;
  font-weight: 500;
  font-size: 2.1vw;
  margin: 1em 0 -1em;
  line-height: 120%;
}

h5 {
  font-family: 'heebo', sans-serif;
  font-weight: 500;
  font-size: 1.75vw;
  text-transform: uppercase;
  margin: 1em 0 -.5em;

}

h6 {
  font-family: 'heebo', sans-serif;
  font-weight: 400;
  font-size: 1.75vw;
  margin: 1em 5em -1em 0
}


p {
  font-family: 'heebo', sans-serif;
  font-weight: 300;
  font-size: 2vw;
  line-height: 125%;
  margin-bottom: -.125%;
}

hr {
  margin: 1% 10% 1% 10%;
  opacity: .3;
}

@media screen and (max-width: 835px) {

.ya {
  margin: 0 0 0 0;
  padding: 6% 5% 0 6%;
}

.le {
  margin: 0 0 0 6.4%;
  padding: 5% 0 0 9.8%;
}

.ar {
  margin: 0 0 0 0;
  padding: 5% 5% 0 5%;
}

.oh {
  margin: 0 0 0 0;
  padding: 5% 5% 0 5%;
}

.yale-logo {
  position: absolute;
  top: 7.5%;
  left: 0%;
  width: 17%;
}

.twofourteen {
  position: absolute;
  right: 3%;
  top: 5%;
  font-size: 515vw;
}

.fall {
  position: absolute;
  right: 3%;
  top: 3%;
  margin: 0 2% 0 0;
}

.year {
  font-family: 'maelstorm';
  font-weight: 400;
  font-size: 10vw;
  line-height: 80%;
}

.arrow-1 {
  position: absolute;
  top: 13%;
  left: 2%;
  margin: 23% 0 0 0;
  width: 15%;
  height: 15%;
}

.arrow-2 {
  position: absolute;
  top: 19%;
  left: 2%;
  margin: 23% 0 0 0;
  width: 15%;
  height: 15%;
}

.school {
  position: absolute;
  top: 13%;
  left: 0px;
  margin: 0 0 0 3%;
  line-height: 135%;
}

.info {
  position: absolute;
  top: 20%;
  left: 0px;
  margin: 35% 0 0 0;
  line-height: 115%;
}

.italic {
  font-family: 'Roboto';
  font-style: italic;
  font-size: 1.5vw;
  line-height: 145%;
}


h1 {
  font-family: 'maelstorm';
  font-size: 50vw;
  margin: 0 0 0 0;
  line-height: 62%;
  text-transform: uppercase;
}

h2 {
  font-family: 'maelstorm';
  font-weight: 400;
  font-size: 4.9vw;
}

h3 {
  font-family: 'heebo', sans-serif;
  font-weight: 400;
  font-size: 1.75vw;
  text-align: center;
}

h4 {
  font-family: 'heebo', sans-serif;
  font-weight: 500;
  font-size: 1.8vw;
  margin: 1em 0 -em;
  line-height: 125%;
}

h6 {
  font-family: 'heebo', sans-serif;
  font-weight: 400;
  font-size: 1.55vw;
  margin: 1em 5em .5em 0
}

p {
  font-family: 'heebo', sans-serif;
  font-weight: 300;
  font-size: 1.8vw;
}

}

@media only screen and (max-width: 690px) {
  .arrow-1 {
    position: absolute;
    top: 13%;
    left: 2%;
    margin: 23% 0 0 0;
    width: 13%;
    height: 13%;
  }

  .arrow-2 {
    position: absolute;
    top: 19%;
    left: 2%;
    margin: 23% 0 0 0;
    width: 13%;
    height: 13%;
  }
}
